.notation-ctn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5em;
}

@media screen and (max-width: 768px) {
    .notation-ctn img {
        width: 15px;
        height: 15px;
    }
}
